<footer class='second-footer'>
  <div class='support'>
    <%= link_to '使い方サポート', '#', {class: 'menu'}%>
  </div>
  <div　class='terms'>
    <%= link_to '利用規則', '#', {class: 'menu'}%>
  </div>
</footer>